body {
    display: grid;
    grid-template-columns: 250px auto;
}
#navWrapper {
    grid-row: 1 / span 3;
    position: relative;
  
}

nav ul {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    
    li{flex: none;}

}



.allcards {
    
    div{
        flex-basis: calc(33.333% - (($gutter*2)/3));
    }
}


footer div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    }