$primaryColor: #554236; 
$secondaryColor: #f77825;
$accentColor: #d3ce3d;
$greyColor: #ccc;
$menuColor: #3b8764;
$cardColor: #f0f0f0;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;

